/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    padding: 1rem;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: #140e02;
}
p{
    font-size: large;
    text-align: center;
}

.sobre{
    text-align: justify;
    
}

/* Background color customizavel*/
.bg-dark-custom{
    background-color: #140e02  !important;
    /*background-color:#8B4513*/
}
#role {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #140e02;
}
.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
    
    transition: color 0.3s;
    color: #fdfdfd;
}

.nav-item a{
    font-size: 1.4rem;

}


.navbar-dark .navbar-nav .nav-link:hover {
    color: #3897F5;
}


.tools-list{
    background-color: #ffffff;
}

/*@font-face {
    font-family: pixel;
    src: url(../fonts/DragonHunter-9Ynxj.otf);
}*/

.tools{
    height: 3.3vw;
    width: 3.3vw;
    padding: 0.1vw;
    margin-right: 0.1vw;
    font-family: pixel;
}

.formacao-items{
    height: 3.3vw;
    width: 3.3vw;
}
h1, h2, h3, h4, h5, h6 {
    font-family: pixel;
    
}

ul{
    list-style: none  !important;
}

hr {
    border: 1px solid #ccc; /* Define a espessura, estilo e cor da borda */
    margin: 30px 0; /* Adiciona margem superior e inferior */
  }


.gif-item{
    height: 4.5vw;
    width: 5vw;
}

.cursos-logo{
    height: 1.5vw;
    width: 1.5vw;
}



.p-cursos{
    margin-bottom: 0%;

}

.curso-titulo{
    text-align: center;
    align-items: center;
}

.project-details {
    display: none; /* Esconder os detalhes inicialmente */
  }


.check-img{
    height: 1.0vw;
    width: 1.0vw;
}

footer {
    background-color: #1f1f1f;
    padding: 1rem;
}



.experiencia .card{
    box-shadow: 2px 2px 2px 1px rgba(0,0,0, .5);
    background-color: #323232 !important;
    color: black !important;
   
}

.experiencia .card .card-body .card-title{
    
    color: #3897F5;

}





.experiencia:hover{
    scale: 1.05;
    transition: .3s linear;
}

.projetos .card{
    box-shadow: 2px 2px 2px 1px rgba(0,0,0, .5);
    background-color: #323232 !important;
    color: black !important;
   
}

.projetos .card .card-body .card-title{
    
    color: #3897F5;

}

.bg-blue-custom{
    background-color: #3897F5 !important;

}

